* {
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.mdl-layout__content {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f2f2f2;
    overflow-y: overlay;
}

.is-casting-shadow {
    box-shadow: 0em 0em 1em lightgray !important;
}

zeeguu.loading {
    animation: fadein 1s 0s infinite linear alternate;
}

/* keeps the translation and origin together */
.origtrans {
    display: inline-block;
}

/* the translation - above the origin word
   the font is thin until the user contributes or selects an alternative
   highlights the fact that we are not sure of the translation ...
   */

zeeguu tran {
    display: block;

    margin-top: 6px;
    margin-bottom: -2px;

    padding: 3px;
    padding-left: 0.3em;
    padding-right: 0.2em;

    border-radius: 0.3em 0.3em 0.3em 0.3em;
    background-clip: padding-box;

    background-color: #e8f8ff;

    font-size: medium;
    line-height: 1em;
    max-width: 24em;
    font-weight: 300;
}

/*
    the original word decoration; a simple dashed underline highlights
    the fact that we are not sure of the translation; underline becomes
    solid if the user selects an alternative, confirms this one, or
    uploads a new translation
*/
zeeguu orig {

    border-bottom: 1px dashed #6ec7e6;;
    width: 100%;

}


/* when there are multiple translations, we mark this with a little
green downwards pointing triangle; we used to mark also single alternatives
 but for now there's no marking for them */

zeeguu tran moreAlternatives, zeeguu tran singleAlternative {
    font-size: xx-small;
    float: right;
    width: 1.5em;
    text-align: right;
}

zeeguu tran moreAlternatives {
    color: green;
}

zeeguu tran singleAlternative {
    color: #6ec7e6;
}

zeeguu tran moreAlternatives:after {
    content: " ▼";
}

zeeguu tran singleAlternative:after {
    content: "";
}


/* once the user has
 - selected an alternative we change
  the class to handSelected
 - contributed their own alternative
  by typing (handContributing) we change
  the class to handContributed

  these classes currently show a mini
  animation
 */
.handSelected, .handContributed {
    color: cornflowerblue;
    width: 1.5em;
    text-align: right;
}

.handSelected:after, .handContributed:after {
    visibility: hidden;
    opacity: 0.1;
    transition: visibility 0s 2s, opacity 2s linear;
}

.handSelected:after {
    content: " ✓";
}

.handContributed:after {
    content: "  :)";
}


/* When an alternative is selected or a translation is uploaded
we highlight this by changing the style of both the translation
(normal font weight) and origin (solid underline)

why? there are two selectedAltenative and contributedAlternative
classes for the origin... because at some point we were considering
distinguishing between the two types of contribution... eventually
that made the UI too heavy ... */

.selectedAlternative, .contributedAlternativeTran {
    font-weight: 500;
}

.selectedAlternativeOrig, .contributedAlternativeOrig {
    border-bottom: 1px solid #6ec7e6;;
}



zeeguu tran[chosen]:after {
    content: attr(chosen);
}

#back_button {
    left: -2.5em;
}

#read_later_link {
    left: -2.5em;
}

.reader_toolbar_button {
    color: lightgray;
}

#toggle_undo {
    right: 1em;
    color: rgba(0, 0, 0, .26);
}

#toggle_copy {
    right: 0.5em;
}

#toggle_star {
    color: rgba(0, 0, 0, .26);
}

.feedback_question {
    font-weight: bold;
    padding-bottom: 1em;
    font-size: large;
}

#question_reasons_not_to_finish, #question_difficulty_for_finished_article {
    padding: 16px;
    text-align: left;
    font-size: small;
}

#altermenu {
    display: none;
    z-index: 1;
    color: #000000;
    text-align: center;
    padding: 0px;
    background: #eaf2ff;
    border-radius: 2px;
    box-shadow: 0px -14px 39px 0px rgba(0, 0, 0, 0.2);
}

#altermenu .mdl-button {
    width: 100%;
    height: 100%;
    display: block;
    text-transform: none;
    white-space: normal;
    border-bottom: 1px solid lightgray;
    text-align: left;
    line-height: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
}

#altermenu * {
    font-size: 14px;
}

.mdl-textfield__input {
    color: grey;
    text-align: center;
}

.mdl-layout__header,
.mdl-layout__drawer-button {
    color: black;
}

.mdl-js-snackbar {
    border-radius: 3em 3em 3em 3em;
    bottom: 2em;
}

p.title {
    font-size: 2.2em;
    font-weight: bold;
    line-height: 1.7em;
}

p {
    font-size: 1.3em;
    line-height: 1.7em;
    padding: 0.2em;
}

h1, h2, h3, h4 {
    font-size: 1.4em;
}

h5, h6 {
    font-size: 0.7em;
}

#articleInfo {
    font-size: 1em;
    text-align: right;
    color: grey;
    font-style: italic;
}

a {
    color: grey;
}

a:hover {
    color: #505050;
}

.page-content, .questionnaire-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify;
    padding-top: 3em;
}

.questionnaire-content {
    text-align: center;

}

#main_article_content {
    margin-bottom: 2em;
}

.page-content-container, #bottom_feedback_div {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 60em;
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0em 0em 2em lightgray;
}

#like_button {
    text-align: center;
    padding-bottom: 3em;
}

#toggle_like:hover {
    background-color: none;
    cursor: pointer;
}

#toggle_like:not(.mdl-button--disabled) {
    background-color: #A3D6F5;
}

.material-icons.star.off {
    display: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
    cursor: pointer;
}

@keyframes fadein {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
