*
{
  -webkit-backface-visibility:  hidden;
  -webkit-tap-highlight-color:  transparent;
}

.mdl-layout__content {
  background-color: #f2f2f2;
}

.home-button
{
  color: #030303 !important;
}

.mdl-layout__tab-bar
{
  background-color: #f7f7f7;
}

.mdl-layout__tab .material-icons
{
  vertical-align: middle;
}

.inbox-icon
{
  color: #7c7b74;
}

.star-icon
{
  color: #ffc700;
}

#articleLinkList
{
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 60em;
  cursor: pointer;
}

.articleLinkSpacer
{
  padding: 0.3em;
  box-shadow: 0px -0.5em 1.5em #FFF;
}

.articleLinkEntry
{
  border-radius: 0.3em;
  background-color: white !important;
  box-shadow: 0px -0.3em 0.5em #e5e5e5;
  animation: articleLinkShow 0.5s 0s 1 linear;
  vertical-align:middle;
  width: 100%;
  border-spacing: 10px;
}

@keyframes articleLinkShow
{
  0%
  {
    opacity: 0;
  }
  100%
  {
     opacity: 1;
  }
}

.articleLinkEntry a
{
  color:black;
  text-decoration:none;
}

.articleLinkEntry a:visited
{
  color:grey !important;
}

.articleLinkHeader
{
  display: table;
  vertical-align:middle;
  width: 100%;
  table-layout: fixed;
}

.articleLinkDifficulty
{
  width: 3em;
  display: table-cell;
}

.articleLinkDifficultyText
{
  position: absolute;
  padding: 0.3em;
  width: 3em;
  height: 3em;
  font-weight: bold;
  font-size: x-small;
  text-align: center;
  border-radius: 2em;
  z-index: 1;
}

.linkLanguageIcon
{
  position: absolute;

  top: 1.4em;
  left: 1.4em;
  z-index: 2;
}

.articleLinkImage
{
  width: 2.3em;
  height: 2.3em;
  text-align: center;
  border-radius: 1.5em;
  display: table-cell;
}

.articleLinkDifficultyText.EASY
{
    background: #d3ffb2;
}

.articleLinkDifficultyText.MEDIUM
{
    background: #fff9b2;
}

.articleLinkDifficultyText.HARD
{
    background: #ff7070;
}

.articleLinkTitle
{
  display: table-cell;
  font-size: large;
  border:none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  width: 100%;
}

.articleLinkEntry:hover .articleLinkTitle
{
  font-weight: bold!important;
  border:none;
}

.articleLinkTitle::first-letter {
    font-size: 130%;
}

.articleLinkSummary {
  margin:auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 59em;
  height: 6.2em;
  overflow:hidden;
}

.options
{
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.mdl-chip
{
	max-width: 90%;
}

.mdl-chip__text
{
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

a
{
   color: black !important;
   cursor: pointer;
}

#return_home
{
  color: rgba(0,0,0,.26) !important;
}

.mdl-layout__drawer-button
{
  color: black !important;
}

body
{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
