<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE>Zeeguu Reader</TITLE>
	<META name="viewport" content="width=device-width, initial-scale=1">

	<!-- Hotjar Tracking Code for https://www.zeeguu.unibe.ch/read -->
	<script>
	    (function(h,o,t,j,a,r){
		h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		h._hjSettings={hjid:510081,hjsv:5};
		a=o.getElementsByTagName('head')[0];
		r=o.createElement('script');r.async=1;
		r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

	<script> var noAvatarURL = "{{url_for('umrblue.static',filename='images/noAvatar.png')}}";</script>

	<!-- Include the subscription package. -->
	<link rel="stylesheet" type="text/css" href="{{url_for('umrblue.static',filename='scripts/dist/css/subscription-0.8.1.css')}}">
	<script src="{{url_for('umrblue.static',filename='scripts/dist/subscription-0.8.1.js')}}"></script>
</HEAD>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <header class="mdl-layout__header mdl-layout__header--transparent">
	  <div class="mdl-layout__header-row">

		  <a href="/whatnext" id = "return_home" class="mdl-button mdl-js-button mdl-button--icon mdl-layout-icon">
			  <i class="material-icons">home_back</i>
		  </a>
		  	<span class="mdl-chip mdl-chip--deletable mdl-color--blue-grey-100 mdl-color-text--black tour search-block">
					<span class="mdl-chip__text searchtext"> </span>
					<button type="button" class="mdl-chip__action search-delete-button"><i class="material-icons md-light search-butt"></i></button>
			</span>

          <div class="mdl-layout-spacer"></div>"


	  </div>
	  <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
		  <a href="#inbox" class="mdl-layout__tab is-active"><i class="material-icons inbox-icon">inbox</i></a>
		  <a href="#starred" class="mdl-layout__tab"><i class="material-icons star-icon">star</i></a>
	  </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
		My Content
	</span>
    <nav class="mdl-navigation">
	  <div class="options">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search-expandable">
                <label class="mdl-textfield__label" for="search-expandable">Search...</label>
            </div>
          </div>
		  <br>
		  <!-- List of content currently subscribed to. -->
		  <span class="mdl-chip mdl-chip--deletable mdl-color--indigo mdl-color-text--white tour">
				<span class="mdl-chip__text">Languages</span>
				<button type="button" class="mdl-chip__action show-language-subscriber"><i class="material-icons md-light">add_circle</i></button>
			</span>
		  <div id="languagesList"></div>
			<span class="mdl-chip mdl-chip--deletable mdl-color--indigo mdl-color-text--white tour">
				<span class="mdl-chip__text">Sources</span>
				<button type="button" class="mdl-chip__action show-source-subscriber"><i class="material-icons md-light">add_circle</i></button>
			</span>
		  <div id="sourcesList"></div>
			<span class="mdl-chip mdl-chip--deletable mdl-color--indigo mdl-color-text--white tour">
				<span class="mdl-chip__text">Topics</span>
				<button type="button" class="mdl-chip__action show-topic-subscriber"><i class="material-icons md-light">add_circle</i></button>
			</span>
		  <div id="searchesList"></div>
		  <div id="topicsList"></div>
			<span class="mdl-chip mdl-chip--deletable mdl-color--red mdl-color-text--white tour">
				<span class="mdl-chip__text">Filters</span>
				<button type="button" class="mdl-chip__action show-filter-subscriber"><i class="material-icons md-light">add_circle</i></button>
			</span>
		  <div id="searchesFilterList"></div>
		  <div id="topicsFilterList"></div>
	  </div>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="inbox">
        <div class="page-content">
            <!-- List of articles -->
            <ul id="articleLinkList" class="articleLinkList"></ul>
            <BR />
            <div id="emptyArticleListImage" class="emptyPage">
                <img class="sadEleph" src="{{ url_for('umrblue.static',filename='images/empty.png') }}" alt="Not subscribed to any feeds..."/>
            </div>
            <div class="loader">
                <img class="eleph" src="{{ url_for('umrblue.static',filename='images/elephlogo.png') }}" alt="Loading..."/>
            </div>
			<div id="toastmessage" class="mdl-js-snackbar mdl-snackbar">
				<div class="mdl-snackbar__text"></div>
				<button class="mdl-snackbar__action" type="button"></button>
			</div>
        </div>
    </section>
    <section class="mdl-layout__tab-panel" id="starred">
        <div class="page-content">
            <ul id="starredArticleList" class="articleLinkList"></ul>
			<div id="emptyStarredArticleListImage" class="emptyPage">
				<img class="sadEleph" src="{{ url_for('umrblue.static',filename='images/empty.png') }}" alt="Not subscribed to any feeds..."/>
			</div>
        </div>
    </section>
  </main>
</div>

<!-- Template for subscribed source items -->
<script id="subscription-template-source" type="text/template">
	<span sourceRemovableID="{% raw %}{{ id }}{% endraw %}" class="mdl-chip mdl-chip--deletable">
		<span class="mdl-chip__text">{% raw %}{{ title }}{% endraw %}</span>
		<a class="mdl-chip__action removeButton">
			<i class="material-icons">cancel</i>
		</a>
	</span>
</script>

<!-- Template for subscribed topic items -->
<script id="subscription-template-topic" type="text/template">
	<span topicRemovableID="{% raw %}{{ id }}{% endraw %}" class="mdl-chip mdl-chip--deletable">
		<span class="mdl-chip__text">{% raw %}{{ title }}{% endraw %}</span>
		<a class="mdl-chip__action removeButton">
			<i class="material-icons">cancel</i>
		</a>
	</span>
</script>

<!-- Template for subscribed search items -->
<script id="subscription-template-search" type="text/template">
	<span searchRemovableID="{% raw %}{{ id }}{% endraw %}" class="mdl-chip mdl-chip--deletable">
		<span class="mdl-chip__text">{% raw %}{{ search }}{% endraw %}</span>
		<a class="mdl-chip__action removeButton">
			<i class="material-icons">cancel</i>
		</a>
	</span>
</script>

<!-- Template for subscribed language items -->
<script id="subscription-template-language" type="text/template">
	<span languageRemovableID="{% raw %}{{ id }}{% endraw %}" class="mdl-chip mdl-chip--deletable">
		<span class="mdl-chip__text">{% raw %}{{ language }}{% endraw %}</span>
		<a class="mdl-chip__action removeButton">
			<i class="material-icons">cancel</i>
		</a>
	</span>
</script>

<!-- Template for an article link. -->
<script id="articleLink-template" type="text/template">
	<li class="fadeoutOnClick articleLinkEntry  {% raw %}{{alreadyOpenedClass}}{% endraw %}" articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">
		<a href="{{ url_for('umrblue.get_article') }}?articleURL={% raw %}{{ articleLinkURL }}{% endraw %}">
			<div class ="articleLinkHeader">
				<div class="articleLinkImage headerElement">
					<img src="{% raw %}{{articleIcon}}{% endraw %}" class="feedIcon mdl-list__item-avatar"/>
				</div>
				<div class="articleLinkTitle headerElement" >
					{% raw %}{{ articleLinkTitle }}{% endraw %}
                    <span class="wordCount"> ({% raw %}{{ wordCount }}{% endraw %} words)</span>
				</div>
				<div class="articleLinkDifficulty headerElement">
					<span class ="articleLinkDifficultyText" style="background: {% raw %}{{articleDifficultyColor}}{% endraw %}"> {% raw %}{{articleDifficulty}}{% endraw %} </span>
					<span class="linkLanguageIcon flag-icon flag-icon-{% raw %}{{ articleLinkLanguage }}{% endraw %}"></span>
				</div>
			</div>
			<div class="articleLinkSummary">
                <span class="publishingTime">({% raw %}{{articleLinkPublished}}{% endraw %})</span>
				{% raw %}{{articleSummary}}{% endraw %}
			</div>
		</a>
	</li>
	<div class="articleLinkSpacer"></div>
</script>

<!-- Template for a starred article link. -->
<script id="starred-articleLink-template" type="text/template">
	<li class="articleLinkEntry" articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">
		<div class ="articleLinkHeader">
			<a class="fadeoutOnClick articleLinkTitle headerElement" href="{{ url_for('umrblue.get_article') }}?articleStarred=True&articleLanguage={% raw %}{{ articleLinkLanguage }}{% endraw %}&articleURL={% raw %}{{ articleLinkURL }}{% endraw %}">
				{% raw %}{{ articleLinkTitle }}{% endraw %}
			</a>
			<div class="starredFlag headerElement">
				<span class="flag-icon flag-icon-{% raw %}{{ articleLinkLanguage }}{% endraw %} headerElement"></span>
			</div>
		</div>
	</li>
	<div class="articleLinkSpacer"></div>
</script>

<!-- Dialog windows for adding a source, topic and filter. -->
{% include 'addSourceDialog.html' %}
{% include 'addTopicDialog.html' %}
</HTML>
