<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE>Zeeguu Reader</TITLE>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<LINK rel="stylesheet" href="{{ url_for('umrblue.static',filename='styles/mdl/material.min.css') }}">
	<LINK rel="stylesheet" href= "{{ url_for('umrblue.static',filename='styles/loader.css') }}" type= "text/css">
	<LINK rel="stylesheet" href= "{{ url_for('umrblue.static',filename='styles/login.css') }}" type= "text/css">
	<LINK rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<LINK rel="stylesheet" href= "{{ url_for('umrblue.static',filename='styles/articles.css') }}" type= "text/css">
	<LINK rel="stylesheet" href= "{{ url_for('umrblue.static',filename='styles/dialog-polyfill.css') }}" type= "text/css">
	<LINK rel="stylesheet" href= "{{ url_for('umrblue.static',filename='styles/sweetalert.css') }}" type= "text/css">

	<!-- Hotjar Tracking Code for https://www.zeeguu.unibe.ch/read -->
	<script>
	    (function(h,o,t,j,a,r){
		h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		h._hjSettings={hjid:510081,hjsv:5};
		a=o.getElementsByTagName('head')[0];
		r=o.createElement('script');r.async=1;
		r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

	<SCRIPT src="{{ url_for('umrblue.static',filename='styles/mdl/material.min.js') }}"></SCRIPT>
	<SCRIPT> var noAvatarURL = "{{url_for('umrblue.static',filename='images/noAvatar.png')}}";</SCRIPT>
	<script src="{{url_for('umrblue.static',filename='scripts/dist/subscription-0.6.0.js')}}"></script>
</HEAD>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--transparent">
	  <div class="mdl-layout__header-row">
		  <div class="mdl-layout-spacer"></div>
		  <a href="/whatnext" id = "return_home" class="mdl-button mdl-js-button mdl-button--icon mdl-layout-icon">
			  <i class="material-icons">home_back</i>
		  </a>
	  </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
		My Sources
	</span>
    <nav class="mdl-navigation">
	  <div class="options">
		  <!-- List of feeds currently subscribed to. -->
		  <div id="subscriptionList"></div>
			<span class="mdl-chip mdl-chip--deletable mdl-color--indigo mdl-color-text--white tour">
				<span class="mdl-chip__text">Add new source</span>
				<button type="button" class="mdl-chip__action show-modal"><i class="material-icons md-light">add_circle</i></button>
			</span>
	  </div>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
		<!-- List of articles -->
		<ul id="articleLinkList"></ul>
    </div>
		<BR />
	    <div class="emptyPage">
			<img class="sadEleph" src="{{ url_for('umrblue.static',filename='images/empty.png') }}" alt="Not subscribed to any feeds..."/>
		</div>
		<div class="loader">
			<img class="eleph" src="{{ url_for('umrblue.static',filename='images/elephlogo.png') }}" alt="Loading..."/>
		</div>
		<div id="toastmessage" class="mdl-js-snackbar mdl-snackbar">
		  <div class="mdl-snackbar__text"></div>
		  <button class="mdl-snackbar__action" type="button"></button>
		</div>
  </main>
</div>

<!-- Template for subscribed feed items -->
<script id="subscription-template" type="text/template">
	<span removableID="{% raw %}{{ id }}{% endraw %}" class="mdl-chip mdl-chip--deletable">
		<span class="mdl-chip__text">{% raw %}{{ title }}{% endraw %}</span>
		<a class="mdl-chip__action removeButton">
			<i class="material-icons">cancel</i>
		</a>
	</span>
</script>

<!-- Template for an article link. -->
<script id="articleLink-template" type="text/template">
	<li class="articleLinkEntry" articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">
		<a href="{{ url_for('umrblue.get_article') }}?articleLanguage={% raw %}{{ articleLinkLanguage }}{% endraw %}&articleURL={% raw %}{{ articleLinkURL }}{% endraw %}">
			<div class ="articleLinkHeader">
				<div class="articleLinkImage">
					<img src="{% raw %}{{articleIcon}}{% endraw %}" class="feedIcon mdl-list__item-avatar"/>
				</div>
				<span class="articleLinkTitle" >
					{% raw %}{{ articleLinkTitle }}{% endraw %}
				</span>
				<div class="articleLinkDifficulty">
					<span class ="articleLinkDifficultyText {% raw %}{{articleDifficultyDiscrete}}{% endraw %}"> {% raw %}{{articleDifficulty}}{% endraw %} </span>
					<span class="linkLanguageIcon flag-icon flag-icon-{% raw %}{{ articleLinkLanguage }}{% endraw %}"></span>
				</div>
			</div>
			<div class="articleLinkSummary">
				<p>
				{% raw %}{{articleSummary}}{% endraw %}
				</p>
			</div>
		</a>
	</li>
	<div class="articleLinkSpacer"></div>
</script>

<!-- Dialog window for adding a feed. -->
{% include 'addFeedDialog.html' %}
</HTML>
