{% macro bottom_feedback_div() -%}

    <div id="bottom_feedback_div" class="page-content-container" style="display:none">
    <div class="content-container">
    <div class="page-content" style="text-align: center">

        <div id="question_difficulty_for_finished_article_">

            <p>
                <small>
                    If you read the article fully, please answer<br/>
                </small>
            </p>
            <div class="feedback_question">
                How difficult was the text?
            </div>


            <div> <!-- buttons -->


                <button id="finished_difficulty_easy"
                        class="mdl-button mdl-js-button mdl-button--raised">
                    Easy
                </button>


                &nbsp;


                <button id="finished_difficulty_ok"
                        class="mdl-button mdl-js-button mdl-button--raised">
                    Ok
                </button>


                &nbsp;


                <button id="finished_difficulty_hard"
                        class="mdl-button mdl-js-button mdl-button--raised">
                    Hard
                </button>

            </div>


            <br/><br/>

            <div id="bottom_page_back_link" style="display: none;">
                <a href="{{ url_for('umrblue.articles') }}">
                    <b>Back to article list</b></a>

                <br/>
            </div>
            <br/><br/>


        </div>
    </div>

{%- endmacro %}
