{% macro top_feedback_divs() -%}

    <div id="question_reasons_not_to_finish" style="display:none;">

        <div class="feedback_question">
            Was there a problem with the article?
        </div>

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="not_finished_for_no_reason" class="mdl-button mdl-js-button mdl-button--raised">
                None
            </button></a>&nbsp;&nbsp;&nbsp;

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="not_finished_for_too_difficult" class="mdl-button mdl-js-button mdl-button--raised">
                Difficult
            </button></a>&nbsp;

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="not_finished_for_boring" class="mdl-button mdl-js-button mdl-button--raised">
                Boring
            </button></a>&nbsp;

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="not_finished_for_too_long" class="mdl-button mdl-js-button mdl-button--raised">
                Too Long
            </button></a>&nbsp;


        <a href="{{ url_for('umrblue.articles') }}">
            <button id="not_finished_for_broken" class="mdl-button mdl-js-button mdl-button--raised">
                Broken
            </button></a>&nbsp;&nbsp;&nbsp;

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="not_finished_for_other" class="mdl-button mdl-js-button mdl-button--raised">
                Other
            </button></a>

    </div>


    <div id="question_difficulty_for_finished_article" style="display:none;">

        <div class="feedback_question">
            How difficult was the article?
        </div>

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="finished_difficulty_easy" class="mdl-button mdl-js-button mdl-button--raised">
                Easy
            </button>
        </a>
        &nbsp;

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="finished_difficulty_ok" class="mdl-button mdl-js-button mdl-button--raised">
                Ok
            </button>
        </a>
        &nbsp;

        <a href="{{ url_for('umrblue.articles') }}">
            <button id="finished_difficulty_hard" class="mdl-button mdl-js-button mdl-button--raised">
                Hard
            </button>
        </a>

    </div>

{%- endmacro %}
