<HTML>
<H2>Nederlandse zakenman vervolgd voor omkoping directeur Google</H2>
<P>
	Zakenman Rudy Stroink wordt vervolgd voor het omkopen van een directeur van Google. Stroink zou 1,7 miljoen aan steekpenningen hebben betaald. 
Het Financieele Dagblad schrijft dit donderdag. Maandag dient een regiezitting over de zaak.
</P>

<P>
	Het OM bevestigt dat er twee personen en twee bedrijven zijn gedagvaard voor het betalen van 1,7 miljoen euro aan steekpenningen aan een groot Amerikaans bedrijf, maar noemt geen namen. 
</P>

<P>
	De zakenman wordt verdacht worden van witwassen, omkoping, valsheid in geschrifte en lidmaatschap van een criminele organisatie.
</P>

<P>
	De verdachte transacties zouden tussen juli 2008 en maart 2010 hebben plaatsgevonden. Stroink stond toen aan het hoofd van TCN en onderhandelde met Google-directeur Simon Tusha.
</P>

<P>
	<H3>Google</H3> 
	Tusha bekende eerder dit jaar te zijn omgekocht door bedrijven uit het Verenigd Koninkrijk en Nederland. Het zou gaan om TCN in Nederland en Evolved IT in het Verenigd Koninkrijk. Deze partijen zouden ook geholpen hebben het geld uit het zicht van autoriteiten te houden.
</P>

<P>
	Volgens het FD is het smeergeld betaald voor de locatie van het nieuwe datacenter bij de Eemshaven, maar Google ontkent dit in een reactie. Noch TCN, noch Tusha zou betrokken zijn geweest bij dit project. Het softwarebedrijf verklaart pas met de onderhandelingen voor het datacenter te zijn begonnen nadat Tusha was vertrokken.
</P>

<P>
	<H3>Kleiner datacenter</H3>
	Het zou wel gaan om een kleiner datacenter van TCN dat Google vanaf 2006 huurde en dat ook in de Eemshaven stond. De Volkskrant meldt donderdag op basis van een beroep op de Wet openbaarheid van bestuur ook dat het eerste contact voor het nieuwe datacenter in de Eemshaven pas in 2012 werd gelegd, toen TCN al failliet was. 
</P>

<P>
	Google benadrukt ook dat het bedrijf zelf slachtoffer is in deze zaak.
</P>
</HTML>
