<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/addFeedDialog.css') }}" type= "text/css">
<LINK rel="stylesheet" href= "{{ url_for('static',filename='scripts/polyfill/dialog-polyfill.css') }}" type= "text/css">
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title feedAddTitle">Available Feeds</h4>
  <center><span class="feedAddSubTitle">(Tap the '+' to add a feed to your list)</span></center>
  <div class="mdl-dialog__content">
    <!-- List of all available feeds. -->
    <div id="addableFeedList" class="list-control list-action mdl-list"></div>
  </div>
  <div class="mdl-dialog__actions mdl-dialog__actions">
    <button type="button" class="mdl-button close">Close</button>
  </div>
</dialog>

<!-- Template for feed items -->
<script id="feedAddable-template" type="text/template">
  <div class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <img src="{% raw %}{{addableImage}}{% endraw %}" class="feedIcon mdl-list__item-avatar" onerror="noAvatar(this)"/>
      <span class="addableTitle">{% raw %}{{addableTitle}}{% endraw %}</span>
    </span>
    <a class="mdl-list__item-secondary-action" href="{% raw %} {{addableID}} {% endraw %}">
      <i class="material-icons ">add_circle</i>
    </a>
  </div>
</script>

<SCRIPT> var noAvatarURL = "{{url_for('static',filename='images/noAvatar.png')}}";</SCRIPT>
<SCRIPT src="{{ url_for('static',filename='scripts/constants.js') }}"></SCRIPT>
<SCRIPT src="{{ url_for('static',filename='scripts/mustache/mustache.js') }}"></SCRIPT>
<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></SCRIPT>
<SCRIPT src="{{ url_for('static',filename='scripts/polyfill/dialog-polyfill.js') }}"></SCRIPT>
<SCRIPT src="{{ url_for('static',filename='scripts/feedAdder.js') }}"></SCRIPT>
