<HTML>
<HEAD>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<LINK rel="stylesheet" href="{{ url_for('static',filename='styles/mdl/material.min.css') }}">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/article.css') }}" type= "text/css">
	<LINK rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/translation.js') }}"></SCRIPT>
	<SCRIPT src="/static/styles/mdl/material.min.js"></SCRIPT>
</HEAD>
<BODY>

<DIV id="articleTitle"></DIV>
<DIV id="articleContent"></DIV>

</BODY>
</HTML>
