<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE>Zeeguu UMR</TITLE>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<LINK rel="stylesheet" href="{{ url_for('static',filename='styles/mdl/material.min.css') }}">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}" type= "text/css">
	<LINK rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/feedlist.css') }}" type= "text/css">
	<SCRIPT src="{{ url_for('static',filename='scripts/constants.js') }}"></SCRIPT>
	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/polyfill/dialog-polyfill.js') }}"></SCRIPT>
	<SCRIPT> var noAvatarURL = "{{url_for('static',filename='images/noAvatar.png')}}";</SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/mustache/mustache.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/underscore/underscore-min.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/feedManager.js') }}"></SCRIPT>
	<SCRIPT src="/static/styles/mdl/material.min.js"></SCRIPT>
	<SCRIPT>var SESSION_ID =  {{ sessionID }}</SCRIPT>
</HEAD>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Zeeguu UMR</span>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Settings</span>
    <nav class="mdl-navigation">
	  <div class="options">
			<!-- List of feeds currently subscribed to. -->
		  <b>My sources:</b><br /><br />
		  {% for feed in feeds %}
		  <span removableID="{{feed.identifier}}" class="mdl-chip mdl-chip--deletable">
				<span class="mdl-chip__text">{{feed.title}}</span>
				<button type="button" class="mdl-chip__action" onclick="unfollowFeed($(this).parent())">
					<i class="material-icons">cancel</i>
				</button>
		  </span> <BR />
		  {% endfor %}
			<span class="mdl-chip mdl-chip--deletable mdl-color--indigo mdl-color-text--white">
			<span class="mdl-chip__text">Add new source</span>
			<button type="button" class="mdl-chip__action show-modal"><i class="material-icons md-light">add_circle</i></button>
			</span>
	  </div>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
		<!-- List of articles -->
		<ul class="articleList">
			{% for article in articles %}
			<li class="articleEntry"><a href="/article?sessionID={{ sessionID }}&articleURL={{ article.url }}">{{ article.title }}</a></li>
			{% else %}
			<center>Unbelievable.  No entries here so far! Please subscribe to some feeds.</center>
			{% endfor %}
		</ul>
    </div>
  </main>
</div>
<!-- Dialog window for adding a feed. -->
{% include 'addFeedDialog.html' %}
</HTML>
