<!DOCTYPE html>
<HTML>
<HEAD>
	<TITLE>Zeeguu UMR</TITLE>
	<META name="viewport" content="width=device-width, initial-scale=1">
	<LINK rel="stylesheet" href="{{ url_for('static',filename='styles/mdl/material.min.css') }}">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/loader.css') }}" type= "text/css">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}" type= "text/css">
	<LINK rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='styles/feedlist.css') }}" type= "text/css">
	<LINK rel="stylesheet" href= "{{ url_for('static',filename='scripts/dependencies/polyfill/dialog-polyfill.css') }}" type= "text/css">
	<SCRIPT src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></SCRIPT>
	<SCRIPT> var noAvatarURL = "{{url_for('static',filename='images/noAvatar.png')}}";</SCRIPT>
	<SCRIPT>var SESSION_ID =  {{ sessionID }}</SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/constants.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/dependencies/polyfill/dialog-polyfill.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/dependencies/mustache/mustache.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/dependencies/underscore/underscore-min.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/zeeguuRequests/zeeguuRequests.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/subscription/ArticleList.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/subscription/SubscriptionList.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/subscription/LanguageMenu.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/subscription/FeedSubscriber.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='scripts/subscription/subscriptionControl.js') }}"></SCRIPT>
	<SCRIPT src="{{ url_for('static',filename='styles/mdl/material.min.js') }}"></SCRIPT>
</HEAD>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Zeeguu UMR</span>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Settings</span>
    <nav class="mdl-navigation">
	  <div class="options">
		  <b>My sources:</b><br /><br />
		  <!-- List of feeds currently subscribed to. -->
		  <div id="subscriptionList"></div>
			<span class="mdl-chip mdl-chip--deletable mdl-color--indigo mdl-color-text--white">
			<span class="mdl-chip__text">Add new source</span>
			<button type="button" class="mdl-chip__action show-modal"><i class="material-icons md-light">add_circle</i></button>
			</span>
	  </div>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
		<!-- List of articles -->
		<ul id="articleLinkList"></ul>
    </div>
		<BR />
		<div class="loader">
			 <img class="eleph" src="{{ url_for('static',filename='images/elephlogo.png') }}" alt="Loading..."/>
		</div>
  </main>
</div>

<!-- Template for subscribed feed items -->
<script id="subscription-template" type="text/template">
	<span removableID="{% raw %}{{subscriptionID}}{% endraw %}" class="mdl-chip mdl-chip--deletable">
		<span class="mdl-chip__text">{% raw %}{{subscriptionTitle}}{% endraw %}</span>
		<button type="button" class="mdl-chip__action" onclick="feedSubscriber.unfollow($(this).parent())">
			<i class="material-icons">cancel</i>
		</button>
	</span>
</script>

<!-- Template for an article link. -->
<script id="articleLink-template" type="text/template">
	<li class="articleLinkEntry" articleLinkFeedID="{% raw %}{{articleLinkFeedID}}{% endraw %}">
	<div class="articleLinkDifficulty {% raw %}{{articleDifficultyDiscrete}}{% endraw %}">
	{% raw %}{{articleDifficulty}}{% endraw %}
	</div>
		<form action="{{ url_for('get_article') }}" method="post">
			<input type="hidden" name="sessionID" value="{{ sessionID }}" /> 
			<input type="hidden" name="articleURL" value="{% raw %}{{ articleLinkURL }}{% endraw %}" /> 
			<input type="hidden" name="articleLanguage" value="{% raw %}{{ articleLinkLanguage }}{% endraw %}" /> 
			<input class="articleLinkTitle" type="submit" value="{% raw %}{{ articleLinkTitle }}{% endraw %}" />

		</form>
	</li>
</script>

<!-- Dialog window for adding a feed. -->
{% include 'addFeedDialog.html' %}
</HTML>
