<HTML>
<HEAD>
	<LINK rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">
</HEAD>
	<DIV class="bubble">
		<FORM class="loginbox" method="post">
			<H1>Sign in</H1>
			<LABEL>Username</LABEL><BR/>
			<INPUT type="text" placeholder="Enter Username" name="username" required><BR/>
			
			<LABEL>Password</LABEL><BR/>
			<INPUT type="password" placeholder="Enter Password" name="password" required><BR/><BR/>

			<BUTTON type="submit" id="loginbutton" >Login</BUTTON>
		</FORM>
	</DIV>
</HTML>
